.check, .close{
    margin: 12px 0;
    padding: 6px 12px;
    border-radius: 4px;
    color: #4f4032;
    border: 2px solid #88a763;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.check:hover, .check:focus {
    background-color: #88a763;
    color: white;
    transform: scale(1.3);
}

.close{
    padding: 6px 12px;
    border-radius: 4px;
    border: 2px solid #845404;
    background-color: white;
    color: #4f4032;
    cursor: pointer;
    font-weight: 600;
}
.close:hover, .close:focus {
    background-color: #845404;
    color: white;
    transform: scale(1.1);
}