.cardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
}
.cardControls{
    display: flex;
    align-items: center;
    gap: 24px; /* Расстояние между кнопками и children */
    margin-bottom: 16px;
}
.result{
    margin-bottom: 10px;
    color: #4f4032;
    font-weight: 600;
    cursor: pointer;
}
.onPrev, .onNext{
    color: #4f4032;
    cursor: pointer;
    background-color: #fbfce8;
    border: 1px solid #ddd;
}
.learned{
    color: #4f4032;
    font-weight: 600;
}
.loader {
    display: block; 
    text-align: center;
    font-weight: bold;
    color: #4f4032;
}