.headerConteiner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #f7fae2;
}
.conteinerLogo{
    display: flex;
    gap: 5px;
}
.title{
    color: #4f4032;
    cursor: pointer;
}
.title:hover{
    transform: scale(1.1);
    color: #E9A319;
}

.logo{
    height: 60px;
    width: auto;
    margin: auto 0;
}
.logo:hover{
    transform: scale(1.1);
}
.nav{
    display: flex;
    gap: 80px;
    list-style: none;
}
.itemsNav{
    color: #4f4032;
    font-weight: 700;
}
.itemsNav:hover{
    color: #E9A319;
}


a{
    text-decoration: none;
}