.conteinerError{
    width: auto;
    margin: 130px 100px;
    display: flex;
    justify-content: space-between;
}
.infoError{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    color: #4f4032;
}
.backHome{
    margin: 12px 0;
    padding: 10px 16px;
    border-radius: 4px;
    color: #4f4032;
    font-size: 24px;
    border: 2px solid #88a763;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.backHome:hover{
    background-color: #88a763;
    color: white;
    transform: scale(1.1);
}